{% extends 'ProyectoFinalApp/header.html' %}

{% load static %}


{% block contenidoPagina %}


<section>
<div class="container">
    <div class="row">
        <div class="col mt-5 mb-5">
          {% if user.is_staff%}
          <a href="{% url 'panel' 'articulo' %}">
            <i class="fa-solid fa-arrow-left h2 ms-3 text-dark"></i>
          </a>
            {% else %}
            <a href="{% url 'pages' %}">
              <i class="fa-solid fa-arrow-left h2 ms-3 text-dark"></i>
            </a>
           {% endif %}
            <div class="card text-center mt-5">
                <div class="card-header">
                  Blog
                </div>
                <div class="card-body">
                  <h1 class="card-title h2">{{articulos.titulo}}</h1>
                  <img src="{{articulos.imagen.url}}" class="img-fluid" alt="Hollywood Sign on The Hill"/>
                  <h2 class="card-text text-start h4 mt-4">{{articulos.subTitulo}}</h2>
                  <p class="card-text text-start">{{articulos.contenido}}</p>
                  <p class="card-text text-end">Autor: {{articulos.autor}}</p>
                </div>
                <div class="card-footer text-end text-muted">
                        <p class="mx-auto">{{articulos.fecha_creacion}}</p>
                </div>
              </div>
        </div>
    </div>
</div>
</section>

{% endblock %}